/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
 }
 header {
   display: block;
   padding: 20px 0;
 }

article, aside, details, figcaption, figure, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 22px;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: #202020;
}

.navbar-brand {
  font-size: 28px;
}

.navbar-nav {
  font-size: 18px;
  padding-left: 0;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

li {
  list-style: none;
}

/* =============================================================================
   My CSS
   ========================================================================== */
/* ---- base ---- */

div p {
  color: blue;
}

html, body {
  width: 100%;
  background: #111;
}

-webkit-tap-highlight-color: transparent;


body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

main {
  overflow: scroll;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */
#particles-js {
  width: 100%;
  height: 100%;
  background-color: #202020;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

# sourceMappingURL=style.css.map

img {
  max-width: 400px;
}

footer {
padding: 10px 0;
text-align: justify;
color: white;
position: relative;
margin-top: 10%;
}

header .row,
footer .row {
  display: inline;
  align-items: center;
}
header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

section .container .row img {
  margin: 0 0 30px;
  width: 100%;
  background-color: rgba(0,0,0,0);
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

.navbar {
  background-color: #A0A0A0;
  position: fixed;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%;
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

figure {
  text-align:   ;
  position: relative;
}

.aboutSection {
  /*position: relative;*/
  width: 100%;
  margin-top: 25%;
  margin-bottom: 20%;
  color: #23527c;
}

.about{
  padding: 15px 25%;
}

.about p {
  color: #337ab7;
  font-size: 22px;
  margin-top: 15px;
  line-height: 1.3;
  text-align: justify;
}

.aboutSection h1 {
  color: rgba(60,60,60,0.7);
  font-size: 4.5em;
  width: 100%;
}

.aboutSection h3 {
  color: #aaa;
  font-size: 2em;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 90px;
}

h2 {
  font-size: 28px;
  margin: 30px 0;
}

footer {
  font-size: 24px;
  padding: 20px 0;
  text-align: center;
}

footer .col-sm-8 {
 justify-content: flex-end;
}

footer ul {
  display: inline;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
}

li {
  display: inline;
}

p {
  color: #23527c;
}

.col-sm-1 {
  font-size: 18px;
  padding-left: 135px;
}

body {
  text-align:center;
  font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  color: #888;
}

h1 {
  font-weight: normal;
  float: left;
}

figure img {
  display: inline-grid;
  width: 100%;
}

#Gianmaria {
 position: relative;
 padding: 15px 25%;
}

#project {
  display: grid;
  white-space: nowrap;
}

.aboutProject {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #23527c;
}

/* codepen */
.item {
  position: relative;
  display: inline-block;
  padding: 12px 12px 6px;
  background: #F2F2F2;
  border: 1px solid #EEE;
  vertical-align:top;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 100%; left:0; right: 0; bottom: 0;
  height: 100%;
  background: rgba(0,0,0,.6);
  opacity: 0;
}

.overlay, .overlay span {
  transition: top .5s, opacity .7s, margin-top .8s;
}

.overlay span {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  padding: 0 20px;
  margin-top: 120px; /* for the animation */
  color: #F2F2F2;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  word-wrap:break-word;
  line-height: 1;
  opacity: 0;
}

.overlay span:before {
  content: "";
  display:inline-block;
  vertical-align: middle;
  height: 100%;
  width: 1px;
}

.item:hover .overlay,
.overlay:focus {
  top: 0;
  opacity: 1;
}

.item:hover .overlay span,
.overlay:focus span {
  opacity: 1;
  margin-top: 0; /* for the animation */
}

.hidden {
  display: none;
  visibility: hidden;
}


/* Skills */
.base-abt, :after, :before {
  box-sizing: border-box;
}

body {
  background: #1F2428;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

section {
  display: inline-block;
  width: 10%;
  margin: 50px 0;
  text-align: center;
  min-width: 320px;
  position: relative;

}

.tooltip {
  position: absolute;
  background: #eee;
  padding: 3px;
  font-weight: 100;
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid  #ddd;
  bottom: 100%;
  left: 50%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.tooltip:after {
  content: "" attr(tooltip) "";
  margin-left: 3px;
  color: #2DABD8;
}
.tooltip:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #2DABD8;
  display: inline-block;
  margin-right: 5px;
}

.graph {
  width: 300px;
  height: 150px;
  position: relative;
  margin: auto;
  text-align: center;
  color: #fff;
  font-size: 22px;
  line-height: 280px;
  font-weight: 600;
  border-radius: 150px 150px 0 0;
  overflow: hidden;
  color: #0ff;
}
.graph:before, .graph:after {
  content: '';
  width: 300px;
  height: 150px;
  border: 50px solid #0ff;
  border-top: none;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  border-radius: 0 0 300px 300px;
  -webkit-animation: demo 2s;
  animation: demo 2s;
  left: 0;
  top: 100%;
  z-index: 5;
}
.graph:after {
  z-index: 3;
  border-color: rgba(0, 0, 0, 0.15);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.graph:hover:before {
  opacity: .8;
  cursor: pointer;
}
.graph:hover + .tooltip {
  bottom: 105%;
  opacity: 1;
}

.multi-graph {
  width: 300px;
  height: 150px;
  position: relative;
  margin: auto;
  color: #fff;
  font-size: 22px;
  line-height: 280px;
  font-weight: 600;
}
.multi-graph:before {
  content: '';
  width: 300px;
  height: 150px;
  border: 50px solid rgba(0, 0, 0, 0.15);
  border-bottom: none;
  position: absolute;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  border-radius: 300px 300px 0 0;
  left: 0;
  top: 0;
}
.multi-graph .graph {
  position: absolute;
  top: 0;
  left: 0;
}
.multi-graph .graph:after {
  background: #eee;
  border: medium none;
  border-radius: 2px;
  color: #333;
  font-weight: 200;
  content: "" attr(data-name) "";
  display: inline-block;
  font-size: 12px;
  height: 20px;
  left: 50%;
  line-height: 20px;
  padding: 0 5px;
  top: 50px;
  z-index: 0;
  -ms-transform: rotate(0deg) translateX(-50%);
  -webkit-transform: rotate(0deg) translateX(-50%);
  transform: rotate(0deg) translateX(-50%);
  width: auto;
  opacity: 0;
}
.multi-graph .graph:hover:after {
  opacity: 1;
  top: 70px;
}

.model-1 .graph {
  color: #EC4A26;
}
.model-1 .graph:before {
  -ms-transform: rotate(100deg);
  -webkit-transform: rotate(100deg);
  transform: rotate(100deg);
  border-color: #EC4A26;
}

section.model-2 .graph {
  color: #2DABD8;
}
section.model-2 .graph:before {
  -ms-transform: rotate(100deg);
  -webkit-transform: rotate(100deg);
  transform: rotate(100deg);
  border-color: #2DABD8;
}

section.model-3 .javaScript:before {
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  border-color: #FEDA3E;
}
section.model-3 .jQuery:before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  border-color: #0669AD;
}

section.model-3 .graph {
  color: #2DABD8;
}

section.model-4 .graph {
  color: magenta;
}
section.model-4 .graph:before {
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  border-color: magenta;
}

section.model-5 .graph {
  color: #7CFC00;
}
section.model-5 .graph:before {
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(95deg);
  transform: rotate(95deg);
  border-color: #7CFC00;
}

@-webkit-keyframes demo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes demo {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
